@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla&family=Bigelow+Rules&family=Hind+Siliguri&display=swap');

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    padding: 0;
    margin:0;
    color: #0D0D0D;
    font-family: "Orbitron", sans-serif;
}

h1,
h2,
h3{
    margin: 0;
}

/*img{*/
/*    width: 100%;*/
/*}*/

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 1rem 4rem;
}

nav img{
    height: 50px;
}

nav ul{
    display: flex;
    list-style-type: none;
    /*flex-flow: row wrap;*/
    gap: 1rem;
}

nav a{
    text-decoration: none;
    display: block;
    color: #0D0D0D;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
}

nav a:hover{
    color: darkred;
}

nav .home{
    font-size: 1.2rem;
    text-decoration: underline;
}

/*Hero section starts*/
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;

}

.hero-left{
    position:relative;
    width: 50%;

}

.hero-left .square{
    position: absolute;
    bottom: -60px;
    left: 60px;
    z-index: -1;
}

.hero-left .photo{
    height: 500px;
}

.hero-right{
    width: 50%;
}