:root{
    --pink: #f637ec;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    padding: 0;
    margin:0;
    color: #fff;
    background-color: #151515;
    font-family: "Poppins", "Roboto", sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 4rem;
}

nav ul{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    flex-basis: 40%;
    gap: 10%;
}

nav a{
    text-decoration: none;
    color: #faf5f5;
    font-size: 1rem;
}

select{
    background-color: transparent;
    color: #fff;
    border: none;
}

.btn{
    background: url('Assets/Icons/btn-pink-bg.svg') no-repeat;
    object-fit: fill;
    color: #fff;
    padding: 0.5rem 0.5rem;
    border: none;
    margin-left: 10px;
}

/*main section*/
main{
    overflow: hidden;
}

main figure{
    position: relative;
    margin: 4rem 4rem;
}


.frontCards{
    position: absolute;
    right: -300px;
    height: 600px;
    top: -100px;
    /*rotate: 15deg;*/
}

.backCards{
    position: absolute;
    right: -100px;
    height: 600px;
    top: -80px;
    /*/rotate: 15deg;*/
}

span{
    color: #f637ec;
    font-weight: 600;
}


main h1{
    font-size: 80px;
    font-weight: 400;

}
main p{
    font-size: 0.9rem;
    font-weight: 300;
    margin-top: 35px;
 }

.divider{
    margin-left: 2rem;
    margin-right: 2rem;
}
.stats{
    display: flex;
    gap: 10px;
}
main h2{
    font-size: 40px;

}

.get-started-btn{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/*multiple logos section*/
.multiple-logos{
    background-color: #292929;
    display: flex;
    justify-content: center;
    gap: 8%;
    padding: 4rem 6rem;
}

/*payment section*/
.payment{
    background-color: #151515;
    margin: 4rem 4rem;
}

.text{
    display: flex;
    justify-content: space-between;
}
.text h1{
    font-size: 60px;
    flex-basis: 60%;
    font-weight: 400;
}

.text p{
    flex-basis: 40%;
    padding: 12% 5%;
    text-align: justify;
    line-height: 1.5;
    font-size: 1rem;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 2%;
    position: relative;
}
.icons > *{
    width: 300px;
    height: 280px;
    border: 1px solid white;
    padding: 2% 0;
    text-align: center;
}

.dollar {
    background-color: #272727;
}

.cloud{
    position: relative;
    background-color: #575655;
    bottom: 50px;
}
.lock{
    background-color: #272727;
}

/*card-choice section*/
.card-choice{
    background-color: #fceffb;
    padding-top : 4rem;
    color: black;
    text-align: center;
    position: relative;
}

.card-choice h1{
    font-size: 70px;
}

.card-choice p{
    color: #706f6f;
}

.card-choice img{
    position: relative;
    bottom: 50px;
    width: 90%;
}

/*Review section*/
.review{
    text-align: center;
}
.review h1{
        font-size: 60px;
        flex-basis: 60%;
        font-weight: 400;
}
.review-cards{
    display: grid;
  grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 4rem 15rem;
    gap: 10%;
}
.card{
    width: 550px;
    background-color:#1E1F24;
    text-align: left;
    border: 1px solid white;
    padding: 1rem 1rem;
}

.first-card{
    background-color: #565555;
}

.scroll {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-scroll{
    height: 20px;
    width: 80px;
    background-color: #f637ec;
    border-radius: 10px;
}

.dot-scroll{
    width: 20px;
    height: 20px;
    background-color: #464346;
    border-radius: 50%;
    margin-left: 10px;
}

/*Take action section*/
.take-action{
    position: relative;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.rectangle-left{
    position: absolute;
    left: 0;
}

.rectangle-right{
    position: absolute;
    right: 0;
    z-index: -1;
}
.diamond-left{
    position: absolute;
    z-index:1;
    right: 0;
}

.diamond-right{
    position: absolute;
    z-index: 1;
    left: 0;
}
.take-action-text{
    position: absolute;
    z-index: 1;
    text-align: center;
    margin-top: 4rem;
   left: 17%;
    border: 1px solid green;
}

.take-action-text span{
    color: black;
}
.take-action-text h1{
    font-size: 70px;
}

.get-started-btn{

    font-size: 25px;
}

footer{
    margin-top: 45rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4rem;
}

footer ul{
    display: flex;
    justify-content: center;
    gap: 10%;
    flex-basis: 80%;
    list-style-type:none;
}