html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    padding: 0;
    margin:0;
    color: #fff;
    background-color: #151515;
    font-family: "Poppins", "Roboto", sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 4rem;
}

nav ul{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    flex-basis: 40%;
    gap: 10%;
}

nav a{
    text-decoration: none;
    color: #faf5f5;
    font-size: 0.8rem;
}

select{
    background-color: transparent;
    color: #fff;
    border: none;
}

.btn{
    background: url('Assets/Icons/btn-pink-bg.svg') no-repeat;
    object-fit: fill;
    color: #fff;
    padding: 0.5rem 0.5rem;
    border: none;
    margin-left: 10px;
}

/*main section*/
main{

}
figure{
    position: relative;
    margin: 4rem 4rem;
}


.frontCards{
    position: absolute;
    right: -300px;
    height: 600px;
    top: -100px;
    /*rotate: 15deg;*/
}

.backCards{
    position: absolute;
    right: -100px;
    height: 600px;
    top: -80px;
    /*/rotate: 15deg;*/
}

span{
    color: #f637ec;
    font-weight: 600;
}


h1{
    font-size: 85px;
    font-weight: 400;

}
p{
    font-size: 0.9rem;
    font-weight: 300;
    margin-top: 35px;
 }

.divider{
    margin-left: 2rem;
    margin-right: 2rem;
}
.stats{
    display: flex;
    gap: 10px;
}
h2{
    font-size: 40px;

}

.get-started-btn{
    margin-bottom: 1rem;
    margin-top: 1rem;
}