html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    padding: 0;
    margin:0;
    color: #fff;
    background-color: #151515;
    font-family: "Poppins", "Roboto", sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 4rem;
}

nav ul{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    flex-basis: 40%;
    gap: 10%;
}

nav a{
    text-decoration: none;
    color: #faf5f5;
    font-size: 0.8rem;
}

select{
    background-color: transparent;
    color: #fff;
    border: none;
}

.contact-btn{
    background: url('Assets/Icons/btn-pink-bg.svg') no-repeat;
    object-fit: fill;
    color: #fff;
    padding: 0.5rem 0.5rem;
    border: none;
    margin-left: 10px;
}

/*main section*/
main{
    display: flex;
    /*background: url("Assets/Photos/backCards.png") no-repeat;*/
    /*background: url("Assets/Photos/frontCards.png") no-repeat;*/
}
.left{
    margin: 4rem 4rem;
    flex-basis: 40%;
}

.background-img{
    flex-basis: 60%;
    position: relative;
}

.background-img img{
    height: 400px;

}

.frontCards{
    position: absolute;
    left: -100px;
}

.backCards{
    position: absolute;
    left: -200px;
}