*{
    font-family: Roboto, Arial, sans-serif;
}
h1,h2{
    color: #00838f;
}
p{
    background-color: #eeeeee;
}

button{
    background-color: #00838f;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}