:root{
    --primary-color: #088BFD;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: SageUI, sans-serif;
}

.btn{
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 25px;
    font-size: 1rem;
}

.btn-primary{
    color: #fff;
    background: var(--primary-color);
}

.btn-outline{
    color: #fff;
    background: #000;
    border: 1px solid #fff;
    /*outline: 1px solid #fff;*/
}

/*Navigation bar*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #000;
    padding: 1rem;
}

ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

ul a{
    text-decoration: none;
    color: #fff;
}

/*Hero section*/
main{
    background: #000;
    display: flex;
    padding: 4rem 8rem;
    gap: 8rem;
}

.hero-left{
    width: 500px;
}
.hero-left h1{
    color: #fff;
    font-size: 3.5rem;
    line-height: 1.5;
}

.blue-text{
    color: var(--primary-color);
}

.hero-left p{
    color: #fff;
    opacity: 0.7;
    line-height: 1.5;
    margin-top: 1rem;
}

.buttons{
    display: flex;
    gap: 2rem;
    padding: 2rem 0;
    margin-top: 1rem;
}

.hero-right img{
    height: 450px;
}
