:root{
    --lime: #a4ffa2;
    --magenta: #f47dda;
    --magenta50: #f47dda80;
    --white: #ffffff;
    --tan: #cec5b4;
    --teal: #2e6d81;
    --cyan: #7de6f4;
    --black: #050d14;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.colors{
    display: flex;
    gap: 1rem;
}
.colors > *{
    height: 3rem;
    width: 3rem;
}

.lime{
    background-color: var(--lime);
}
.magenta{
    background-color: var(--magenta);
}

.magenta50{
    background-color: var(--magenta50);
}

.white{
    background-color: var(--white);
    border: 1px solid var(--black);
}

.tan{
    background-color: var(--tan);
}

.teal{
    background-color: var(--teal);
}

.cyan{
    background-color: var(--cyan);
}

.black{
    background-color: var(--black);
}