:root{
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --color-primary: rgb(207, 27, 83);
    --text-color: rgb(62, 75, 76);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: "Montserrat", sans-serif;

}

h1, h2, h3 {
    margin: 0;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h6{
    font-size: 14px;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
}

.link-primary{
    color: var(--color-primary);
    font-weight: 600;
}
/*Navigation bar*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 8px 0;
    /*box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);*/
    z-index: 10;
    position: relative;
}

nav ul {

    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;

}

nav a:hover{
    color: var(--color-primary);
}

/*Hero section*/
main {
    /*background: linear-gradient(to bottom right, rgba(2, 0, 36, 1) 0%, rgba(216, 255, 240, 1) 0%, rgba(251, 228, 242, 1) 100%);*/
    background-image: linear-gradient(120deg, rgba(120, 188, 178, 0.5) 0%, rgba(255, 255, 255, 0) 30%, rgba(222, 200, 246, 0.5) 60%, rgba(105, 21, 195, 0) 120%);;
    padding: 0 4rem;
}

.hero {

    height: 85vh;
    display: flex;
}


.hero-left {
    width: 50%;
    padding-top: 4rem;
}

.hero-left h1 {
    font-size: 48px;
    line-height: 1.5;
}

.hero-left p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    line-height: 25px;
}

.hero-left h6{
    margin-top: 3rem;
}

.btn-group {
    margin-top: 4rem;
    margin-bottom: 0;
}

.btn {
    padding: 1rem 2rem;
    border-radius: 25px;
    font-weight: 600;
}

.btn-primary {
    background: linear-gradient(355.89deg, rgb(225, 69, 70) 2.4%, rgb(202, 46, 47) 2.41%, rgb(210, 11, 112) 80.44%);
    color: #fff;
}

.btn-primary:hover{
    opacity: 0.9;
    color: #fff;
}

.btn-secondary {
    background: rgb(251, 233, 238);
    color: rgb(207, 27, 83);
}

/*Hero right*/
.hero-right{
    width: 50%;
    position: relative;
    /*margin-bottom: 2rem;*/

}

.hero-right img{
    position: absolute;
    top: 4rem;
    width: 650px;
}
/*Collaboration*/
.collaboration {

    margin: 2rem 4rem;
}

.collaboration ul {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.collaboration img {
    width: 120px;
}

/*Statistics Section*/
.stats{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.stats h2{
    font-size: 30px;
}



.stats img{
    max-width: 80px;
}

.statistics{
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin: 4rem 2rem;
}
.stat-row{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stat-row p{
    opacity: 0.7;
}

/*formal education section*/
.formal-education{
    margin: 0 auto;
    padding: 4rem 10rem;
    display: flex;
    justify-content: space-between;
}

.fe-left{
    width: 50%;
}

.fe-heading{
    color: #9a9a9a;
}

.fe-heading-2{
    font-size: 36px;
    font-weight: 900;
    line-height: 120%;
    padding-bottom: 12px;
}

.formal-education p{
    color: #9a9a9a;
    padding-bottom: 12px;
}
.formal-education .btn-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 21rem;
}
.fe-right{
    width: 50%;
}

.fe-right img{
    width: 490px;
}

/*Course type section*/
.different-courses{
    background: #F2F5F6;
    margin: 0 10rem;

    border-radius: 25px;
}
.course-type{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    position: relative;
}

.short-course .content{
    position: absolute;
    top: 25%;
    left: 2rem;
    width: 300px;
}

.open-creds .content{
    position: absolute;
    top: 25%;
    left: 40%;
    width: 300px;
}

.qualification .content{
    position: absolute;
    width: 300px;
    top: 25%;
    right: 2rem;
}
.course-type img{
    height: 80px;
}


/*learn platform section*/
.learn-platform{
    display: flex;
    justify-content: space-between;
    margin: 6rem;
}

.lp-left{
    width: 50%;
}

.lp-right{
    width: 50%;
    padding: 4rem;
}

.lp-right h4{
    color: grey;
    text-transform: uppercase;
}
.lp-right h2{
    margin-bottom: 2rem;
    font-size: 36px;
}

.lp-right p{
    margin-bottom: 3rem;
    line-height: 1.5;
}
/*Interactive and social section*/



.interactive-social{
    display: flex;
    justify-content: space-between;
    margin: 6rem;
}

.is-right{
    width: 50%;
}

.is-left{
    width: 50%;
    padding: 4rem;
}

.is-left h4{
    color: grey;
    text-transform: uppercase;
}
.is-left h2{
    margin-bottom: 2rem;
    font-size: 36px;
}

.is-left p{
    margin-bottom: 3rem;
    line-height: 1.5;
}

/*Testimonials*/
.testimonials{
    margin: 6rem;
    position: relative;
}

.testimonial-header{
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
}

.testimonial-persons{
    display: flex;
    gap: 1rem;
}

.testimonial-persons img{
    width: 60px;
    border-radius: 50%;
}

.testimonial-body{
    width: 1000px;
    margin: 2rem auto;
    background: #E5EAEB;
    padding: 6rem 4rem;
    border-radius: 25px;
    position: relative;
}
.text{
    width: 450px;
}
.text p:first-child{
    font-size: 20px;
    line-height: 1.5;
}
.user{
    display: flex;
    align-items: center;
    gap: 2rem;
    /*justify-content: center;*/
    margin-top: 2rem;
}
.user-id{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.user h4{
    font-size: 20px;
}
.user p{
    margin-top: 0.5rem;
    padding: 0;
}
.user img{
    width: 80px;
    border-radius: 50%;
    border: 4px solid white;
}

.background{
    position: absolute;
    left: -15%;
    top: -10%;
    z-index: -1;
}

.course-card{
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    background: white;
    top: 30%;
    right: 10%;
    z-index: 10;
    box-shadow: 4px 0 6px rgba(0,0,0, 0.5);
}

.course-card h4,p{
    margin: 1rem 0.5rem;
}

.card-text{
padding: 0 2rem;
}
.title p{
    margin-left: 8rem;
}
.title img{
    width: 80px;
    position: absolute;
    top: 14rem;
    left: 2rem;
}

.learners{
    display: flex;
    /*gap: 1rem;*/
    margin-left: 2rem;
    align-items: center;
    justify-content: flex-start;
}

.learners p{
    color: grey;
}

/*course list section*/
.course-list{
    margin-top: 10rem;
}
.section-title{
    display: flex;
    justify-content: space-between;
}