:root{
    --orange-color: #DA722C;
    --dark-blue-color:#023047;
    --dark-color: #070917;
    --light-color:#E8F7FB;
    --light-blue-color: #6F7DFB;
}

*,
*:after,
*:before{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: "Poppins", sans-serif;
}

.wrapper{
    max-width: 1134px;
    margin: 0 auto;
}

/*Buttons*/

.btn{
    padding: 16px 32px;
    border-radius: 24px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    text-decoration:none ;
    position: relative;
}

.btn.dark{
    background: var(--dark-blue-color);
}

.btn.light{
    background: var(--orange-color);
}

.btn.enroll-btn::before{
    content: url("images/PencilAlt.svg");
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
}

.btn.enroll-btn{
    padding-left: 60px;
}

/*Header*/
header{
    background:linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    height: 100vh;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1134px;
    top: 0;
    padding: 36px 0;
    z-index: 100;
    transition: all 500ms ease;
}

nav.scrolled{
    background: var(--dark-color);
    box-shadow: 0 16px 14px -8px rgba(0,0,0,0.3);
}

nav .logo{
    color: #FFF;
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-weight: 900;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 60px;
    list-style-type: none;
}

nav ul li a{
    color: #FFF;
    /*font-family: Poppins, sans-serif;*/
    font-size: 16px;
   text-decoration: none;
    font-weight: 700;
}

/*Hero section*/

.hero-section{
    display: flex;
    height: 100vh;
    width:   100%;
    align-items: center;
    justify-content: space-between;
    /*padding-top: 60px;*/
    position: relative;

}

.hero-section .left{
    flex: 1;
    border: 1px solid red;
}

.hero-section .right{
    align-self: flex-end;
    border: 4px dashed green;
}
.hero-section .left h1{
    font-family: Raleway, sans-serif;
    font-weight: 900;
    font-size: 50px;
    line-height: 125%;
    color: #fff;
    margin-bottom: 0;;
}

.hero-section .left p{
    color: #FFF;
    /*font-family: Poppins;*/
    font-size: 16px;
    font-weight: 400;
    line-height: 200%; /* 32px */
    margin-bottom: 20px;
    width: 457px;
}

.hero-section .right img{
    height: 520px;
    /*margin-left: 20px;*/
    vertical-align: middle;

}

/*Achievement Cards*/


.achievement-card{
    position: absolute;
}

.achievement-card .content{
    border-radius: 24px;
    background: #fff;
    padding: 8px 32px;
    z-index: 10;
    position: relative;

}

.achievement-card.student-enrolled{
    left: 49%;
    top: 270px;
}

.achievement-card h3{
    font-weight: bold;
    font-size: 36px;
    color: var(--dark-blue-color);
    margin: 0;
    text-align: center;
    /*width: 100%;*/
}

.achievement-card p{
    font-size: 16px;
    color: var(--dark-blue-color);
    margin-top: -8px;
    margin-bottom: 8px;
}

.achievement-card .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #6f7dfb 0%, #3b448f 100% );
    border-radius: 24px;
    top: 8px;
    left: 8px;
    z-index: 1;
}

.achievement-card.overall-rating{
    left: 47%;
    top: 470px;
    min-width: 200px;
}

.achievement-card .content div{
    display: flex;
    align-items: center;
    gap: 12px;
}