*{
    background-color: #45b29d;
    text-align: center;
}


h1{
    background-color: rgb(50,50,50);
    color: white;
}

p{
    font-size: xx-large;
}

h5{
    color: #fff;
    font-size: large;
}
