*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f9f5ed;
}
body{
    font-family: "Segoe UI", sans-serif;
    font-size: 70%;
}
nav{
    padding: 20px 10%;
    height: 15vh;
}
nav ul img{
    height: 30px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    cursor: pointer;
    list-style: none;
    margin-right: 5%;
    font-weight: 500;
}

main{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}
.left-main{
    width: 40%;

}

.left-main h1{
    font-size: 50px;
}

.left-main p{
    margin: 5% 0;
}

.left-main button{
    padding: 15px 20px;
    border: none;
    background-color: #3b855b;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}

.right-main{
    width: 60%;
    padding-left: 80px;


}

.right-main img{
    height: 250px;
}