<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Callout</title>
</head>
<body>
<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos ipsam iure omnis quam totam? Cumque doloremque id illum odio ratione?</p>
    </div>
    <a href="#" class="btn btn--primary btn--stretched" >Get Started</a>
  </div>
</div>
</body>
</html>