thead tr{
    background-color: #427fef;
    border: 1px solid #c4dcf3;
}
tbody tr:nth-child(1){
    background-color: #eef7ff;
    border-bottom: 1px solid #c4dcf3;
}
tbody tr:nth-child(3){
    background-color: #eef7ff;
    border-bottom: 1px solid #c4dcf3;
}
tbody tr:nth-child(5){
    background-color: #427fef;
    border: 1px solid #c4dcf3;
    color: white;
}
th{
    padding: 8px;
    color: white;
}
td{
    padding: 8px;
}