:root{
    --color-primary: #7633D2;
    --color-secondary: white;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

a{
    text-decoration: none;
    color: #000000;
}
ul{
    list-style-type: none;
}

.btn {
    outline: none;
    border-radius: 25px;
    padding: 1rem;
}

.btn-primary{
    background: var(--color-primary);
    color: var(--color-secondary);
}

.btn-secondary{
    color: var(--color-primary);
    background: var(--color-secondary);
}

.btn-outline{
    color: var(--color-primary);
    background: var(--color-secondary);
    border: 2px solid var(--color-primary);
}

.wrapper{
    margin: 2rem 10rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    gap: 2rem;
}
