:root{
    --color-primary: #7633D2;
    --color-secondary: white;
    --color-accent: #F7F1FF;
    --color-text: #777777;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

a{
    text-decoration: none;
    color: #000000;
}
ul{
    list-style-type: none;
}


.btn {
    outline: none;
    border-radius: 25px;
    padding: 0.8rem 1rem;
}

.btn-primary{
    background: var(--color-primary);
    color: var(--color-secondary);
}

.btn-secondary{
    color: var(--color-primary);
    background: var(--color-secondary);
}

.btn-outline{
    color: var(--color-primary);
    background: var(--color-secondary);
    border: 2px solid var(--color-primary);
}
.btn-accent{
    background: var(--color-accent);
    color: var(--color-primary);
}



.wrapper{
    margin: 2rem 10rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav select {
    border: none;
    font-size: 1rem;
}

/*nav select option{*/
/*    border: none;*/
/*    outline: none;*/
/*}*/
nav ul{
    display: flex;
    gap: 2rem;
}


/*main section*/
main{
    clip-path: polygon(0 0, 100% 0%, 100% 67%, 0% 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(229,243,255,1) 100%, rgba(0,212,255,1) 100%);
    margin: 4rem 0;
    padding:  2rem 0;
}
.hero{
    display: flex;
}

.hero-left{
    width: 50%;
}

.hero-left h1{
    font-size: 3.7rem;
    padding-right: 2rem;
}

.hero-left p{
    font-size: 1.2rem;
    line-height: 1.5;
}

.hero-btngrp{
    padding: 1rem;
    display: flex;
    gap: 2rem;
}

.hero-right{
    width: 50%;
    padding: 4rem;
}
.hero-right img{
    width: 100%;
}
.btn-version{
    background: var(--color-accent);
    width: 15rem;
    color: var(--color-primary);
}

.btn-version a{
    text-decoration: underline;
    color: var(--color-primary);
}

/*insight section*/
.insight{
    margin: 0 auto;
    text-align: center;
}
.wrapper .why{
    text-align: center;
    display: inline-block;
    color: var(--color-primary);
}
.insight-category{
    display: flex;
    margin-top: 2rem;
    gap: 3rem;
}
.insight p{
    color: var(--color-text);
}

/*Product team section*/
.product-team-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

.pt-left{
    width: 50%;
}
.pt-right{
    width: 50%;
}

.pt-right p, .pe-left p{
    line-height: 1.5;
    color: var(--color-text);
}

.pt-btn{
    /*display: inline-block;*/
    display: inline-flex;
    align-items: center;
    gap: 0.8rem;
}
.engineering-team-flex{
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: space-between;

}

/*testing*/
/*.engineering-team-flex img{*/
/*    border: 1px solid olive;*/
/*    margin-bottom: 0;*/
/*    padding-bottom: 0;*/
/*}*/


.pe-left{
    width: 50%;
}
.pe-right{
    width: 50%;
}

/*CTO section*/
.cto{
    clip-path: polygon(100% 0, 100% 69%, 0 91%, 0 21%);
    background: linear-gradient(180deg, rgba(252,248,255,1) 0%, rgba(243,248,255,1) 100%);
    padding: 6rem 0;
    text-align: center;
}

blockquote p{

    font-size: 1.5rem;
}
blockquote h3{
    margin: 0;
    padding-top: 0.5rem;
}

.cto hr{
    border: 1px solid var(--color-primary);
    margin-bottom: 1rem;
}

.logos{
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
    padding: 2rem;
}

/*Signup Section*/
.signup-flex{
    display: flex;
}

.signup-left{
    width: 50%;
}

.signup-right{
    width: 50%;
}
.trusted{
    display: flex;
}
.hr{
    /*display: inline-block;*/
    border: 1px solid grey;
    width: 6rem;
}
.signup .logos{
    display: grid;
    grid-template-columns: 1fr 1fr;
}