:root{
    --color-primary: #7633D2;
    --color-secondary: white;
    --color-accent: #F7F1FF;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

a{
    text-decoration: none;
    color: #000000;
}
ul{
    list-style-type: none;
}


.btn {
    outline: none;
    border-radius: 25px;
    padding: 0.8rem 1rem;
}

.btn-primary{
    background: var(--color-primary);
    color: var(--color-secondary);
}

.btn-secondary{
    color: var(--color-primary);
    background: var(--color-secondary);
}

.btn-outline{
    color: var(--color-primary);
    background: var(--color-secondary);
    border: 2px solid var(--color-primary);
}
.btn-accent{
    background: var(--color-accent);
}



.wrapper{
    margin: 2rem 10rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav select {
    border: none;
    font-size: 1rem;
}

/*nav select option{*/
/*    border: none;*/
/*    outline: none;*/
/*}*/
nav ul{
    display: flex;
    gap: 2rem;
}


/*main section*/
main{
    clip-path: polygon(0 0, 100% 0%, 100% 67%, 0% 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(229,243,255,1) 100%, rgba(0,212,255,1) 100%);
    margin: 4rem 0;
    padding:  2rem 0;
}
.hero{
    display: flex;
}

.hero-left{
    width: 50%;
}

.hero-left h1{
    font-size: 3.7rem;
    padding-right: 2rem;
}

.hero-left p{
    font-size: 1.2rem;
    line-height: 1.5;
}

.hero-btngrp{
    padding: 1rem;
    display: flex;
    gap: 2rem;
}

.hero-right{
    width: 50%;
    padding: 4rem;
}
.hero-right img{
    width: 100%;
}
.btn-version{
    background: var(--color-accent);
    width: 15rem;
    color: var(--color-primary);
}

.btn-version a{
    text-decoration: underline;
    color: var(--color-primary);
}

/*insight section*/
.insight{
    margin: 0 auto;
    text-align: center;
}
.wrapper .why{
    text-align: center;
    display: inline-block;
    color: var(--color-primary);
}
.insight-category{
    display: flex;
    margin-top: 2rem;
    gap: 3rem;
}

