@import url("https://fonts.googleapis.com/css?family=Be+Vietnam:400,500,700&display=swap");

:root{
    --primary-bright-red: hsl(12, 88%, 59%);
    --primary-dark-blue: hsl(228, 39%, 23%);
    --neutral-dark-grey-blue: hsl(227, 12%, 61%);
    --neutral-dark-blue: hsl(233, 12%, 13%);
    --neutral-pale-red: hsl(13, 100%, 96%);
    --neutral-light-grey: hsl(0, 0%, 98%);
}

/* Universal Styles */

.screenreader {
    position: absolute !important; /* Outside the DOM flow */
    height: 1px; width: 1px; /* Nearly collapsed */
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE 7+ only support clip without commas */
    clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Be Vietnam", sans-serif;
    color: var(--neutral-dark-blue);
    font-size: 16px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Typography - Base Styles */

h1 {
    font-size: 2.5rem;
    line-height: 1.25;
}

h2 {
    font-size: 2rem;
}

h5 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
    color: var(--neutral-dark-grey-blue);
    line-height: 1.8;
}

a:focus {
    outline: none;
}

/* Button Styles */
.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    border-radius: 30px;
    padding: 12px 30px;
    background-color: var(--primary-bright-red);
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
    box-shadow: 0 10px 10px -5px rgba(205,70,25,0.7);
}

.btn:hover,
.btn:focus{
    background-color:rgba(205,70,25,0.8);
}

/*background elements*/
.background-container{
   position: absolute;
    overflow: hidden;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    height: 2000px;
    display: flex;
    justify-content: center;
}

.bg-pattern{
    position: absolute;
    background-image: url(images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    z-index: -1;
}

.bg1{
    width: 450px;
    height: 450px;
    transform: translateX(100px) translateY(-130px);
}
.bg2{
    opacity: 1;
    width: 300px;
    height: 300px;
    transform: translateX(202px) translateY(530px);
}

/*Nav section*/
.nav-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1110px;
    margin: 40px auto 30px;
}

nav .logo{
    transform: scale(0.75) translateX(-22px) translateY(2px);
    z-index: 25;
}

.nav-btn{
    display: none;
}

.menu{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(hsla(227, 12%, 61%, 20%), hsla(233, 12%, 13%, 70));
    border: none;
    z-index: 10;
    animation-name: modalopen;
    animation-duration: 0.6s;
}

.toggle{
    border: none;
    background: transparent;
}
.toggle:focus{
    outline: none;
}

.menu.show{
    display: block;
}

.nav-links{
    width: 75%;
    max-width: 400px;
    background-color: #fff;
    padding: 34px;
    margin: 100px auto 0;
    border-radius: 8px;
    text-align: center;
    z-index: 12;
}

.nav-links li{
    padding: 10px;
}

.nav-links li a{
    color: var(--primary-dark-blue);
    font-weight: 500;
}
 .nav-links li a:hover,
 .nav-links li a:focus{
     color: var(--neutral-dark-grey-blue);
     font-weight: 500;
 }

 .toggle{
     z-index: 25;
 }

 @keyframes modalopen {
     from{
         opacity: 0;
     }
     to{
         opacity: 1;
     }
 }

 /*Main section*/
 .main-container{
     position: relative;
     width: 95%;
     max-width: 1110px;
     margin: 0 auto;
 }

 .main-grid {
     display: grid;
     grid-template-columns: 1fr;
     margin: 0 auto 100px;
 }

 .main-text{
     text-align: center;
 }

 .main-text h1{
     max-width: 450px;
     margin: 0 auto 15px;
 }

 .main-text p{
     max-width: 300px;
     margin: 0 auto 30px;
 }

 .main-image{
     max-width: 350px;
     margin: 0 auto;
 }

 .main-image img{
     width: 100%;
 }

/*About*/

.about-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.about-head h2{
    max-width: 260px;
    margin-bottom: 25px;
}

.about-head p{
    max-width: 330px;
    font-size: 0.9rem;
}

.about-list h5 {
    background-color: var(--neutral-pale-red);
    padding: 8px 0;
    border-radius: 25px 0 0 25px;
    margin-bottom: 10px;
    margin-left: 15px;
}
.about-list p{
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 0.9rem;
}

.number{
    padding: 8px 25px;
    border-radius: 25px;
    color: #fff;
    background-color: var(--primary-bright-red);
    margin: 0 10px 0 0;
}

/*Testimonials section*/
.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 0 50px;
}

.slider{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 255px;
    margin: 100px auto 40px;
}

.card{
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    width: 90%;
    max-width: 500px;
    height: 245px;
    border-radius: 5px;
    text-align: center;
    background-color: var(--neutral-light-grey);
    flex-direction: column;
    padding-top: 60px;
    /*display: none;*/
    animation: cardfade;
    animation-duration: 1s;
}
.card.active-card{
    display: flex;
}

@keyframes cardfade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.card img{
    position: absolute;
    height: 70px;
    width: 70px;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
}

.card p{
    font-size: 0.9rem;
    padding: 15px 25px;
}

.dot{
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px 45px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid var(--primary-bright-red);
    display: inline-block;
    opacity: 0.6;
}
.active,
.dot:hover{
    background-color: var(--primary-bright-red);
    opacity: 1;
}