html{
    box-sizing: border-box;
}

*,
*:before,
*:after{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Varta", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

nav{


    /*margin: 1rem auto;*/

}

nav ul{
    list-style: none;
    display: flex;
}


nav a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
    padding: 1rem;

}

nav a:hover{
    background: #1876f2;
    color: #fff;
}

nav a:hover i{

    color: #f3ba64;
}

nav i{
    display: block;

}