*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
    position: relative;
    font-family: Montserrat, sans-serif;
}


/*Navbar*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.btn{
    background: #302F31;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.main-image{
    position: absolute;
    top: -10%;
    left: 20%;
    z-index: -1;
}

/*Hero section*/
.hero{
    position: relative;
}
.overview{
    position: relative;
    left: 50%;
}

.overview h1{
    margin-top: 7rem;
    font-size: 54px;
    margin-bottom: 2rem;
}

.overview h2{
    font-size: 26px;
    margin-bottom: 2rem;
}

.overview p{
    line-height: 1.5;
    margin-bottom: 2rem;
}
.overview a{
    text-decoration: none;
    color: #fff;
}
.btn-add-to-bag {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}

.text-bold{
    font-weight: bold;
}

/*Icons section*/
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin-top: 6rem;
}

/*Specs Section*/
.specs{
    margin-top: 6rem;
    text-align: center;
}

.spec-image{
    margin-bottom: 4rem;
}

.spec-container{
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.feature{
    text-align: left;
}
.feature h3{
    font-size: smaller;
    margin-top: 0.3rem;
}
.feature p{
    font-size: smaller;
    margin-top: 0.3rem;
    opacity: 0.7;
}

.feature img{
    height: 20px;
}

.spec-left{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.spec-left .feature:first-child, .feature:last-child{
    padding-left: 1.5rem;
}

/*case section*/
.case{
    margin: 4rem auto;
    text-align: center;
}