*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
    position: relative;
    font-family: Montserrat, sans-serif;
}


/*Navbar*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.btn{
    background: #302F31;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
}

.main-image{
    position: fixed;
    top: -30%;
    left: 20%;
    z-index: -1;
}

/*Hero section*/
.hero{
    position: relative;
}
.overview{
    position: relative;
    left: 50%;
}

.overview h1{
    margin-top: 7rem;
    font-size: 54px;
    margin-bottom: 2rem;
}

.overview h2{
    font-size: 26px;
    margin-bottom: 2rem;
}

.overview p{
    line-height: 1.5;
    margin-bottom: 2rem;
}
.overview a{
    text-decoration: none;
    color: #fff;
}
.btn-add-to-bag {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}

.text-bold{
    font-weight: bold;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin-top: 6rem;
}
