*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
    position: relative;
    font-family: Montserrat, sans-serif;
}


/*Navbar*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.btn{
    background: #302F31;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
}

.main-image{
    position: fixed;
    top: -30%;
    left: 30%;
    z-index: -1;
}

