body{
    background: #f5f5f5;
    font-family: "Helvetica Neue", serif
}

.container{
    text-align: center;
    height: 300px;
    width: 400px;
    margin: 12% auto;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input{
    width: 220px;
    height: 30px;
    margin: 0 auto;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.input:focus{
    border-color: #86b7fe;
    box-shadow: 1px 1px 1px #b9d3fa;
}

label{
    display: inline;
}

button{
    width: 220px;
    margin: 0 auto;
    padding: 10px 10px;
    outline: none;
    border: none;
    background: #0d6efd;
    color: #fff;
    border-radius: 25px;
}