@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --white:#fff;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

header{
    background: url("./Photos/mainBackground.png");
    object-fit: cover;
    height: 100vh;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 10%;
    flex-basis: 40%;
    color: #faf5f5;
}
nav li{
    cursor: pointer;
}

header hr{
    margin: 0 3rem;
}

.text h1{
    font-size: 4rem;
    color: #faf5f5;
    margin-left: 6rem;
}

.text p{
    color: #3f3f3f;
    line-height: 1.4;
    margin-left: 6rem;
}

.btn{
    background-color: #6663E9;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 30px;
    color: #faf5f5;
    margin-left: 6rem;
    margin-top: 2rem;
    font-weight: 600;
}

.logos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4%;
    padding: 2rem 8rem;
    /*margin: 2rem 2rem;*/
    border-radius: 30px;
    position: absolute;
    bottom: -8%;
    background-color: #fff;
    left: 8%;
}

.small-cards{
    background-color: #f6f8fa;
}

.row{
    display: flex;
    gap: 2%;
    justify-content: center;

}
.card img{
    height: 100%;
}

.card{
    position: relative;
}

.card-img{
    width: 300px;
    height: 350px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 40px;
}

.card-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    width: 80%;
    bottom: -10%;
    left: 10%;
    padding: 0 20px;
}

.card-text h3{
    font-size: 22px;
}
.card-text p{
    color:#6663E9;
}

.btn-detail{
    background-color: #6663E9;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    color: #faf5f5;
}
